img {
	max-width: 100%!important
}


.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4
}


@media (min-width:768px) {
    .lead {
        font-size: 21px
    }
}