@charset "UTF-8";

/* 화면낭독기 사용자용 */
.sound_only {
	display:inline-block !important;
	position:absolute;
	top:0;
	left:0;
	margin:0 !important;
	padding:0 !important;
	width:1px !important;
	height:1px !important;
	font-size:0;
	line-height:0;
	border:0 !important;
	overflow:hidden !important;
}



/* 테이블 */
table {
	clear:both;
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
}

table caption {
	height:0;
	font-size:0;
	line-height:0;
	overflow:hidden;
}

table td{
	line-height: 22px;
}

tfoot th, tfoot td {
	border:1px solid #d6dce7;
	background:#eee;
	padding:5px;
	text-align:center;
	font-weight:bold;
}

/* thead 한 줄 테이블 */
.tbl_head01 table {
	clear:both;
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
}

.tbl_head01 thead th {
	background:#6f809a;
	color:#fff;
	border:1px solid #60718b;
	font-weight:normal;
	text-align:center;
	padding:8px 5px;
	font-size:0.92em;
}

.tbl_head01 thead th a{
	color:#fff;
}

.tbl_head01 thead input {
	vertical-align:top;
}

.tbl_head01 thead a {
	color:#383838;
	text-decoration:underline;
}

.tbl_head01 tbody th{
	border:1px solid #d6dce7;
	padding:5px;
	text-align:center;
}

.tbl_head01 tbody td{
	border:1px solid #d6dce7;
	padding:5px;
	text-align:center;
}

.tbl_head01 tbody tr:nth-child(even){
	background:#eff3f9;
}

.tbl_head01 tbody td .frm_input{
	width:100%;
}

.tbl_head01 tbody .bg0{
	background:#fff !important;
}

.tbl_head01 tbody .bg1{
	background:#eff3f9 !important;
}


/* 메뉴설정 */
#menulist .sub_menu_class {
	padding-left:25px;
	background:url('../images/sub_menu_ico.gif') 5px 15px no-repeat;
}


/* 공통 */
.td_category {
	width:120px;
	text-align:center;
}

.td_mng {
	width:100px;
	text-align:center;
}

.td_num {
	width:80px;
	text-align:center;
}

.td_url {
	width:150px;
	text-align:center;
}