@charset "utf-8";

/* 최근게시물 스킨 (latest) */
.lt {
	position:relative;
	padding:20px 40px;
}

.lt:after{
	display:block;
	clear:both;
	content: '';
}

.lt ul {
	padding:0;
	list-style:none;
	float:left;
	width:60%;
}

.lt h2 {
	font-size:1.154em;
}

.lt_h2{
	float:left;
	width:20%;
}

.lt h2 a{
	color:#333;
	display: block;width:100%;
}

.lt li {
	position:relative;
}

.lt li a{
	color:#555;
	display:block;
	font-size:14px;
}

.lt li .lt_date{
	color:#888;
	font-size:0.92em;
	position: absolute;
	right:0px;
	top:4px;
}

.lt_title{
	font-size:15px;
	letter-spacing: -1px;
}

.lt_more{
	font-weight: 400;
	color:#999 !important;
	margin-top: 20px;
	font-size:13px !important;
}

.lt .fa-download{
	width:16px;
	height:16px;
	line-height:16px;
	background:#e89f31;
	color:#333;
	text-align:center;
	font-size:10px;
	border-radius:4px;
	vertical-align:middle;
}

.lt .fa-link{
	width:16px;
	height:16px;
	line-height:16px;
	background:#ad68d8;
	color:#333;
	text-align:center;
	font-size:10px;
	border-radius:4px;
	vertical-align:middle;
	font-weight: normal;
}

.lt .fa-heart{
	width:16px;
	height:16px;
	line-height:16px;
	background:#ff66b0;
	color:#333;
	text-align:center;
	font-size:10px;
	border-radius:4px;
	vertical-align:middle;
	font-weight: normal;
}

.lt .new_icon{
	display:inline-block;
	width: 16px;
	line-height:16px;
	font-size:0.833em;
	color:#333;
	background:#e2e2e2;
	border-radius:4px;
	text-align:center;
	vertical-align:middle;
	font-size:11px;
}

.lt .hot_icon{
	display:inline-block;
	width: 16px;
	line-height:16px;
	font-size:0.833em;
	color:#333;
	background:#e2e2e2;
	border-radius:4px;
	text-align:center;
	vertical-align:middle;
	font-weight:normal;
	font-size:11px;
}

.lt .fa-lock{
	display: inline-block;
	line-height: 14px;
	width: 16px;
	font-size: 0.833em;
	color: #333;
	background: #262b88;
	text-align: center;
	border-radius: 4px;
	font-size: 12px;
	border:1px solid #262b88;
}

.more {
	width:20%;
	display:inline-block;
	float:right;
	text-align:right;
	margin-top:4px;
}

 @media (max-width: 969px){
	 
	 .lt_h2 {
		 width:17%;
	 }
	 
	 .lt ul {
		 width:68%;
	 }
	 
	.more {
		width:15%;
	}
	
	.lt li a {
		font-size:13px;
		padding-top:2px;
	}
	
 }