@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css'); 
@charset "utf-8";

/* 초기화 */
html {overflow-y:scroll;height:100%;min-width:320px}
body {margin:0;padding:0;font-size:0.813em;height:100%;font-family:'Noto Sans KR', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
legend {position:absolute;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
input, button {margin:0;padding:0;font-size:1em;font-family:'Noto Sans KR', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;}
button, input[type=submit] {cursor:pointer}
input[type=text], input[type=password], input[type=image], button {font-size:1em;-webkit-appearance:none}
textarea, select,button {font-size:1em;font-family:'Noto Sans KR', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;}
textarea {border-radius:0;-webkit-appearance:none}
select {margin:0;background:none}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {color:#000;text-decoration:none}
ul,li,dl,dt,dd{padding:0;margin:0}
ul{list-style:none;}
img{vertical-align:top;max-width:100%;height:auto}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


 
/* 팝업레이어 */
#hd_pop {z-index:1000;position:relative;margin:0 auto;width:100%;height:0}
#hd_pop h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff;}
.hd_pops img{max-width:100%;height:auto}
.hd_pops_con {}
.hd_pops_footer {padding:10px 0;background:#000;color:#fff;text-align:right}
.hd_pops_footer button {margin-right:5px;padding:5px 10px;border:0;background:#393939;color:#fff}

/* 상단 레이아웃 */
#hd{background:#f16e71;width:100%;z-index:999;}
#hd:after {display:block;visibility:hidden;clear:both;content:""}
#hd_h1 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#hd_wrapper{margin:0 auto;max-width:1200px;}
#hd_wrapper:after {display:block;visibility:hidden;clear:both;content:""}

#logo {float:left;padding:36px 10px}
#logo img{vertical-align:middle;}

#gnb_empty {padding:20px 0;color:#fff;text-align:center;line-height:2em}
#gnb_empty a {display:inline;text-decoration:underline}

#gnb {display:block;float:left;}
#gnb .gnb_1dul:after {display:block;visibility:hidden;clear:both;content:""}
.gnb_wr{max-width:1200px;padding-right:200px;margin:0 auto;position:relative;}
#gnb a {display:block}
.gnb_1dli{position:relative;float:left;line-height:40px}
.gnb_1dli:after {display:block;visibility:hidden;clear:both;content:""}
.gnb_1dli button{display:none}
.gnb_1da {float:left;padding:0 20px;color:#fff;line-height:100px;font-size:1.4em;font-weight:normal;}
.gnb_2dul {display:none;position:absolute;top:100px;left:0;background:#fff;min-width:100%;z-index:99}
.gnb_1dli:hover .gnb_2dul {display:block}
.gnb_1dli:hover:before{background:#623738;position:absolute;bottom:0;left:0;width:100%;height:3px;content:''}
.gnb_1dli:hover .gnb_1da{font-weight:bold;}
.gnb_2da {color:#a8a6b0;padding:0 15px;font-weight:normal;white-space: nowrap;border-top:1px solid #eee; background: #f5f5f5;}
.gnb_2da:hover{color:#111;}

#tnb{background:#e65c5f;line-height:40px}
#tnb ul {max-width:1200px;margin:0 auto}
#tnb ul:after {display:block;visibility:hidden;clear:both;content:""}
#tnb li{float:left}
#tnb .right{float:right}
#tnb li a{color:#fff;display:block;padding: 0 13px}
/*#tnb li a:hover{background:#1b1e24}*/
#tnb .tnb_res a{background:#623738;color:#fff;padding:0 20px;font-weight:600;}
#tnb .tnb_res a:hover{background:#ff2f48}
#tnb .tnb_res i{margin-right:5px}
#tnb .tnb_sns i{color:#fff;margin-right:5px}

.hd_sch_btn{float:right;width:50px;border:0;background:0;height:100px;color:#fff;font-size:18px;vertical-align:top;}
#hd_sch{z-index:10;display:none;position:absolute;top:40px;left:0;background:#121418;width:100%;}
#hd_sch .sch_wr{margin:0 auto;max-width:1200px;position:relative;}
#hd_sch #sch_stx {background:none;border:0;width:100%;height:100px;padding:0 50px;color:#fff;font-size:1.385em}
#hd_sch #sch_stx:focus{outline:0;border-bottom:2px solid #ea185f}
#hd_sch #sch_submit{background:none;border:0;position:absolute;top:0;left:0;color:#fff;height:100px;width:50px;font-size:18px;}
#hd_sch .btn_close{background:none;border:0;position:absolute;top:0;right:0;width:50px;height:100px;color:#aaa;font-size:18px}
#hd_sch .btn_close:hover{color:#fff}

#gnb_open{float: right;width: 50px;border: 0 ;background: 0;height: 100px;color: #fff; font-size: 18px;vertical-align:top}

#gnb2 {display:none;position:fixed;top:0;right:0;height:100%;background:#202228;z-index:99999;width:30%;min-width:300px}
#gnb2 .btn_close {position:absolute;top:0;right:0;width:50px;height:50px;border:0;background:none;color:#555}
#gnb2 .gnb_tnb{padding:0 10px;}
#gnb2 .gnb_tnb li{display:inline-block;line-height:50px}
#gnb2 .gnb_tnb li a{color:#b8b8b8;display:block;padding:0 10px} 
#gnb2_1dul{margin:20px 0}
#gnb2_1dul .gnb2_1dli{position:relative}
#gnb2_1dul .gnb2_1dli button{position:absolute;top:0;right:0;border:0;background:none;height:50px;width:50px;text-indent:-999px;overflow:hidden; background: url(./img/gnb_bg2.png) no-repeat 50% 50%;background-size:10px}
#gnb2_1dul .gnb2_1da{padding:0 20px;display:block;color:#fff;font-size:1.15em;line-height:50px}
#gnb2_1dul .gnb2_2dul {display:none}
#gnb2_1dul .gnb2_2da {color:#a8a6b0;padding:0 30px;font-weight:normal;white-space: nowrap;line-height:30px}

@media (max-width: 969px){
    .pc_view{display:none !important}

    #logo {padding:26px 10px; }
    .m_view{display:none !important}
    .hd_sch_btn , #gnb_open{height:80px;}
    #hd_sch {top:0}
    #hd_sch #sch_submit,#hd_sch .btn_close,#hd_sch #sch_stx{height:80px;}
}


/*상단고정*/
.fixed #hd{position:fixed;top:0;left:0}
.fixed #hd #tnb {display:none}
.fixed #wrapper{padding-top:80px;;}
.fixed .gnb_2dul {top:80px;}
@media (min-width: 970px){
    .fixed #logo {padding:24px 10px}
    .fixed .gnb_1da {line-height:80px;}
    .fixed .hd_sch_btn ,.fixed #gnb_open{height:80px;}
    .fixed .gnb_1dli button{height:80px;}
    .fixed #hd_sch {top:0}
    .fixed  #hd_sch #sch_submit,.fixed #hd_sch .btn_close,.fixed #hd_sch #sch_stx{height:80px;}

}
/* 중간 레이아웃 */
#wrapper {}
#wrapper:after {display:block;visibility:hidden;clear:both;content:""}
#container {position:relative;min-height:200px;}
#container:after {display:block;visibility:hidden;clear:both;content:""}
#container_title {position:relative;font-weight:bold;color:#333; text-align:center;z-index:9;background:url('/img/sub_bg.jpg') center center;line-height:200px;color:#333;font-size:3.6em}

#container>p{display:none;}

.idx_con{margin: 0 auto;max-width:1200px;text-align:center;}
.idx_con ul:after {display:block;visibility:hidden;clear:both;content:""}
.idx_con li{float:left;width:33.333%;padding:7% 20px}
.idx_con li h2 i{font-size:25px;background:#a8a8a8;color:#fff;width:70px;line-height:70px;border-radius:50px;margin-bottom:5px}
.idx_con li:hover i{background:#ea185f}
.idx_con li h2 span{display:block;font-size:1.385em }
.idx_con li:hover span{color:#ea185f}
.idx_con li p{margin:20px 0;color:#494949;font-size:1.154em   }
.idx_con li a{display:inline-block;color:#a9a9a9;text-decoration:underline}

.idx_lt{background:#f6f6f6;padding:80px 0}
.idx_lt_wr{margin:0 auto;max-width:1200px}
.idx_lt_wr:after {display:block;visibility:hidden;clear:both;content:""}
.idx_lt_wr .lt{float:left;width:33.333%}

 @media (max-width: 969px){
    .idx_con{padding:50px 0}
    .idx_con li{width:100%;padding:20px }
    .idx_con li h2 i{width:50px;line-height:50px;font-size:20px;}
    .idx_lt_wr .lt{width:100%}
    .idx_lt{padding:30px 0}
    #container_title {line-height:150px;;font-size:1.5em}
 }
 @media (max-width:639px){
    #container_title {line-height:55px;border-bottom:1px solid #eee;color:#000;font-size:1em;;text-align:left;padding:0 20px;background:none}

 }

/* 하단 레이아웃 */
#ft {background:#f6f6f6;}
.ft_wr{background:#121212;color:#555;text-align:center;padding:40px 20px}
.ft_wr:after {display:block;visibility:hidden;clear:both;content:""}
#ft h1 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
#ft p {margin:0;padding:10px 0;line-height:1.8em}

.ft_info{margin:0 auto;max-width:1200px;padding:40px 10px}
.ft_info:after {display:block;visibility:hidden;clear:both;content:""}
.ft_info .lt{float:left;width:50%;padding:20px}
#ft_contact{float:left;width:50%;;padding:20px;color:#333}
#ft_contact h2{;font-size: 1.154em;margin-bottom:20px}
#ft_contact i{width:25px;color:#623738;line-height:30px;background:#f6f6f6;position:relative;z-index:2}
#ft_contact li:after {display:block;visibility:hidden;clear:both;content:""}
#ft_contact .time{position:relative}
#ft_contact .time:before{content:'';position:absolute;top:50%;left:0;width:100%;height:1px ;background-image: linear-gradient(90deg, #666 25%, #222222 25%, #222222 50%, #666 50%, #666 75%, #222222 75%, #222222 100%);
background-size: 8.00px 8.00px;;z-index:0}
#ft_contact .text{background:#222;padding-right:10px;z-index:2;display:inline-block;line-height:30px;position:relative}
#ft_contact .num{background:#222;float:right;padding-left:10px;z-index:2;display:inline-block;line-height:30px;position:relative}
#ft_contact  a{display:block;text-align:center;background: #623738;
color: #fff;margin-top:20px;line-height:45px;
font-weight: 600;}

#top_btn{position:fixed;bottom:20px;right:20px;width:50px;height:50px;background:#121418;border:0;z-index:999;color:#fff;transition: opacity 0.2s ease-out;opacity:0;}
#top_btn.show {opacity: 1;}
 @media (max-width: 969px){
     .ft_info .lt,#ft_contact{width:100%}
     .ft_info {padding:20px 0}
 }

/* 체크박스 */
.all_chk,.bo_chk {position:relative}
.all_chk label .chk_img, .bo_chk label .chk_img{margin-top:2px;display:inline-block;height:15px;text-indent:-9999px;width:15px;background:#fff;border:1px solid #aab3c1;border-radius:3px;;vertical-align:top;
-webkit-box-shadow:inset 5px 5px 3px #f0f0f3;
-moz-box-shadow:inset 5px 5px 3px #f0f0f3;
box-shadow:inset 5px 5px 3px #f0f0f3}

.bo_chk label.click_on .chk_img, .all_chk label.click_on .chk_img{background:url('../img/input_chk.png') 50% 50% no-repeat #ea185f;border-color:#ea185f;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none}


.bo_chk input, .all_chk input {position:absolute;top:0;left:0;width:1px;height:1px;opacity:0;outline:0;z-index:9}

/* 게시물 선택복사 선택이동 */
#copymove {}
.copymove_current {float:right;color:#ff3061}
.copymove_currentbg {background:#f4f4f4}
#copymove .tbl_head01{margin-top:10px}
#copymove td{background:#fff}
#copymove .win_btn{margin:10px}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;width:0;height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;width:1px !important;height:1px !important;font-size:0 !important;line-height:0 !important;overflow:hidden}

/* 본문 바로가기 */
.to_content a {z-index:100000;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;overflow:hidden}

/* 이미지 등비율 리사이징 */
.img_fix {width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 -pc */
#captcha {position:relative}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}
#captcha #captcha_img {height:40px;border:1px solid #898989;;vertical-align:top;padding:0;margin:0}
#captcha #captcha_mp3 {margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;width:40px;height:40px;background:url('../../../img/captcha2.png') no-repeat;text-indent:-999px;;border-radius:3px}
#captcha #captcha_reload {margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat  0 -40px;text-indent:-999px;border-radius:3px}
#captcha #captcha_key {margin:0 0 0 3px;padding:0 5px;width:90px;height:40px;border:1px solid #ccc;background:#fff;font-size:1.333em;font-weight:bold;text-align:center;border-radius:3px;vertical-align:top}
#captcha #captcha_info {display:block;margin:3px 0 5px ;font-size:0.95em;letter-spacing:-0.1em}

/* 캡챠 자동등록(입력)방지 기본 - mobile */
#captcha.m_captcha audio {display:block;margin:0 0 5px}

/* 구글리캡챠 크기 조정 scale */
#captcha.recaptcha{width:213px;height:55px;overflow:hidden}
#rc-imageselect, .g-recaptcha {transform:scale(0.7);-webkit-transform:scale(0.7);transform-origin:0 0;-webkit-transform-origin:0 0;}

/* ckeditor 태그 기본값 */
#bo_v_con ul{display: block;list-style-type: disc;margin-top: 1em;margin-bottom: 1em;margin-left: 0;margin-right: 0;padding-left: 40px;}
#bo_v_con ol{display: block;list-style-type: decimal;margin-top: 1em;margin-bottom: 1em;margin-left: 0;margin-right: 0;padding-left: 40px;}
#bo_v_con li{display: list-item;}

/*단축키일람 */
.cke_sc{text-align:right}
.btn_cke_sc{background:#333;color:#fff;padding:5px;border:none}
.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl{margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:50%;font-weight:bold}
.cke_sc_def dd {width:50%}
.btn_cke_sc_close{background:#333;padding:5px;border:none;color:#fff}

/* 버튼 */
.btn{display:inline-block;padding:0 5px;height:40px;line-height:40px;;padding: 0 15px}
a.btn01 {display:inline-block;background:#eee;color:#444;text-decoration:none;vertical-align:middle}
a.btn01:focus, a.btn01:hover {text-decoration:none}
button.btn01 {display:inline-block;margin:0;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none}
a.btn02 {display:inline-block;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn02:focus, .btn02:hover {text-decoration:none}
button.btn02 {display:inline-block;margin:0;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none}
.btn_confirm {text-align:center} /* 서식단계 진행 */
.btn_submit {border:0;background:#623738;border:1px solid #5281f3;color:#fff;cursor:pointer}
.btn_submit:hover{background:#5281f3}
a.btn_cancel {display:inline-block;background:#ddd;color:#444;text-decoration:none;vertical-align:middle}
button.btn_cancel {display:inline-block;;border:1px solid #ccc;background:#fafafa;color:#000;vertical-align:top;text-decoration:none}
a.btn_frmline, button.btn_frmline {display:inline-block;padding:0 5px;;border:0;background:#333;color:#fff;letter-spacing:-0.1em;text-decoration:none;vertical-align:top} /* 우편번호검색버튼 등 */
button.btn_frmline {font-size:1em}

/* 게시판용 버튼 */
a.btn_b01,.btn_b01 {display:inline-block;background:#eee;border:0;color:#6b6b6b;text-decoration:none;vertical-align:middle}
.btn_b01:hover, .btn_b01:hover {background:#f8f8f8;color:#000}
a.btn_b02 ,.btn_b02{display:inline-block;background:#623738;color:#fff;text-decoration:none;vertical-align:middle;border:0}
a.btn_b02:hover, .btn_b02:hover {background:#5281f3}
a.btn_b03, .btn_b03 {display:inline-block;line-height:28px;border:1px solid #ed6478;color:#ed6478;background:none;text-decoration:none;vertical-align:middle}
a.btn_b03:hover, .btn_b03:hover {}
a.btn_admin {display:inline-block;background:#ff0000;color:#fff;font-size:16px;text-decoration:none;vertical-align:middle;line-height:40px;width:40px;text-align:center;} /* 관리자 전용 버튼 */
a.btn_admin:focus, a.btn_admin:hover  {color:#fff;}

/* 기본테이블 */
.tbl_wrap {margin:0 10px 10px}
.tbl_wrap table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_wrap caption {padding:10px 0;color:#4b8b99;font-weight:bold;text-align:left}

.tbl_head01 {}
.tbl_head01 caption {padding:0 0 10px;color:#777;text-align:left}
.tbl_head01 thead th {padding:12px 0;border:1px solid #cacaca;background:#d9d9da;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head01 thead a {color:#383838}
.tbl_head01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 tfoot th {border-top:1px solid #666;border-bottom:1px solid #666;background:#484848;color:#fff}
.tbl_head01 tfoot td {border-color:#e3e3e5;background:#484848;color:#fff;font-weight:bold;text-align:center}
.tbl_head01 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head01 td {padding:5px;border:1px solid #e3e3e5;line-height:1.5em;word-break:break-all}

.tbl_head02 {}
.tbl_head02 caption {padding:0 0 10px;color:#777;text-align:left}
.tbl_head02 thead th {padding:5px 0;border-top:1px solid #d1dee2;border-bottom:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head02 thead a {color:#383838}
.tbl_head02 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 tfoot th {border-top:1px solid #666;border-bottom:1px solid #666;background:#484848;color:#fff}
.tbl_head02 tfoot td {background:#484848;color:#fff;font-weight:bold;text-align:center}
.tbl_head02 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head02 td {padding:5px 3px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.4em;word-break:break-all}

/* 기본리스트 */
.list_01{padding:0 10px;}
.list_01 li{background:#fff;border-radius:3px;padding:10px 0px;border-bottom:1px solid #eee;}

/* 기본폼 */
.form_01{margin:10px}
.form_01 .write_div{margin:5px 0;position:relative}
.form_01 li{margin:5px 0;position:relative;list-style:none}
 textarea, .frm_input {border:1px solid #d7d7d7;background:#fff;color:#000;vertical-align:middle;padding:0 10px;height:40px;}
textarea {width:100%;height:200px;padding:10px}
textarea:focus, .frm_input:focus{outline:none;border:1px solid #ea185f}
.frm_input {height:40px;}
.full_input{width:100%} 
.form_01 .frm_file {display:block;margin-bottom:5px;width:100%}
.form_01 select{height:40px;border-radius:3px;background-color:#fff}
.form_01 .frm_info{font-size:0.92em;color:#4162ff;text-align:left;margin:3px 0 10px;display:block;line-height:1.3em}

/* 자료 없는 목록 */
.empty_table {padding:100px 0 !important;color:#777;text-align:center}
.empty_list {padding:20px 0 !important;text-align:center}

/* 필수입력 */
.required, textarea.required {background-image:url('../img/require.png')  !important;background-repeat:no-repeat   !important;background-position:right top  !important;}

/* 테이블 항목별 정의 */
.td_board {width:120px;text-align:center}
.td_category {width:80px;text-align:center}
.td_chk {width:30px;text-align:center}
.td_date {width:60px;text-align:center}
.td_datetime {width:150px;text-align:center}
.td_group {width:100px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_mng {width:80px;text-align:center}
.td_name {width:100px;text-align:left}
.td_nick {width:100px;text-align:center}
.td_num {width:50px;text-align:center}
.td_numbig {width:80px;text-align:center}
.td_stat {width:60px;text-align:center}

.txt_active {color:#5d910b}
.txt_done {color:#e8180c}
.txt_expired {color:#999}
.txt_rdy {color:#8abc2a}

/* 새창 기본 스타일 */
.new_win {}
.new_win #win_title {font-size: 1.2em;font-weight: bold;height: 50px;padding: 10px;line-height: 30px;
-webkit-box-shadow:  2px 2px 5px #eee;
-moz-box-shadow:  2px 2px 5px #eee;
box-shadow: 2px 2px 5px #eee
}
.new_win #win_title .sv {font-size:0.75em;line-height:1.2em}
.new_win_con{margin:20px}

.new_win .win_ul {margin:20px}
.new_win .win_ul li {display:inline-block;}
.new_win .win_ul li a {display: block;line-height: 24px;padding: 0 10px;}
.new_win .win_ul li .selected {background: #4162ff;color: #fff;border-radius: 13px;
-webkit-box-shadow: 0 0 5px rgba(65,98,255,0.8);
-moz-box-shadow: 0 0 5px rgba(65,98,255,0.8);
box-shadow: 0 0 8px rgba(65,98,255,0.8);}

.new_win .win_desc {margin:5px 0;font-size:0.92em;color:#4162ff}
.new_win .win_btn {clear:both;margin:10px 0;text-align:center}
.new_win .win_btn a {display:inline-block;height:40px;line-height:40px;font-weight:bold}
.new_win .win_btn .btn_close {display:inline-block;padding:0 10px;border:0;background:#c6c6d2;color:#666;text-decoration:none;font-weight:bold;height:40px;margin:10px 0}
.new_win .win_btn .btn_submit {width:100%;height:40px;line-height:40px;;margin:0 0 20px;display:inline-block;font-weight:bold}

/* 검색결과 색상 */
.sch_word {color:#00c4ac}

/* 사이드뷰 */
.sv_wrap {display:inline-block;position:relative;font-weight:normal;line-height:20px}
.sv_wrap .sv {z-index:1000;width:100px;display:none;margin:5px 0 0;font-size:0.92em;background:#333;text-align:left;
-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);}
.sv_wrap .sv:before{content: "";position: absolute;top: -6px;left: 15px;width: 0;height: 0;border-style: solid;border-width: 0 6px 6px 6px;border-color: transparent transparent #333 transparent;}
.sv_wrap .sv a {display:inline-block;width:100px;margin:0;padding:0  10px;line-height:30px;font-weight:normal;color:#bbb }
.sv_wrap .sv a:hover{background:#000;color:#fff}
.sv_member{color:#333;font-weight:300;margin-right:10px}
.sv_on {display:block !important;position:absolute;top:23px;left:0px;width:auto;height:auto}
.sv_nojs .sv {display:block}

/* 페이징 */
.pg_wrap {clear:both;margin:30px 0;text-align:center}
.pg {display:inline-block }
.pg_page, .pg_current {display:inline-block;padding:0 13px;height:35px;color:#959595;line-height:35px;vertical-align:middle}
.pg a:focus, .pg a:hover {text-decoration:none;background-color:#f8f8f8; }
.pg_page {background:#eee;}
.pg_start {background:url(../img/btn_first.gif) no-repeat 50% 50% #eee;width:35px;height:35px ;text-indent:-999px;overflow:hidden}
.pg_prev {background:url(../img/btn_prev.gif) no-repeat 50% 50% #eee;width:35px;height:35px ;text-indent:-999px;overflow:hidden}
.pg_next {background:url(../img/btn_next.gif) no-repeat 50% 50% #eee;width:35px;height:35px ;text-indent:-999px;overflow:hidden}
.pg_end {background:url(../img/btn_end.gif) no-repeat 50% 50% #eee;width:35px;height:35px ;text-indent:-999px;overflow:hidden}
.pg_current {display:inline-block;background:#494949;color:#fff;font-weight:normal;line-height:35px;}


.maps{max-width: 1200px; margin:0 auto; padding:40px;}
.cont_table{border-spacing: 0; border-collapse: separate; font-size: 14px; border-top:2px solid #623738; width:100%; border-left:1px solid #ddd;  margin-bottom: 32px; line-height: 1.6em; letter-spacing: -1px;}
.cont_table th{color:#516671; background-color: #f7f7f7; border-bottom: 1px solid #ddd; border-right:1px solid #ddd; padding:12px 6px; width:25%;}
.cont_table td{color:#888; border-bottom: 1px solid #ddd; border-right:1px solid #ddd; padding:14px;}


#bo_list_total{display: none;}


/* 사업소개 - 사업개요 */
.bo_outline { text-align: center; margin:40px 0; }
.bo_outline_tit { font-size:20px; }
.bo_outline_con { font-size:15px; padding:15px 27%; }
.bo_outline_con span { color:rgb(75, 149, 188); }

@media (max-width:1200px){
	.bo_outline { margin:25px 0; }
	.bo_outline_con { font-size:14px; padding:15px 7% 0; }
	
	
		
 }





.m_index{max-width:1200px; margin:20px auto 40px;}
.m_index:after{clear: both; display: block; content:'';}
.m_index a{ display: block; background-size: cover; background-repeat: no-repeat;}
.m_wrap{width:33.33%; float:left;}
.m01{width:100%; background-image:url('/img/m01.jpg'); padding-bottom:60%;}
.m02{width:100%; background-image:url('/img/m02.jpg'); padding-bottom:60%;}
.m03{width:100%; background-image:url('/img/mctr.jpg');padding-bottom:120%;}
.m04{width:100%; background-image:url('/img/m03.jpg'); padding-bottom:60%;}
.m05{width:100%; background-image:url('/img/m04.jpg'); padding-bottom:60%;}
.m06{width:50%; background-image:url('/img/m05.jpg'); padding-bottom:18%;float:left; margin-top:24px;}
.m07{width:50%; background-image:url('/img/m06.jpg'); padding-bottom:18%;float:left; margin-top:24px;}


@media (max-width:960px){
	.m_index{margin:0px auto 0px;}
	.m02{width:100%; background-image:url('/img/m01.jpg'); padding-bottom:60%;}
	.m03{width:100%; background-image:url('/img/m02.jpg'); padding-bottom:60%;}
	.m01{width:100%; background-image:url('/img/mctr.jpg');padding-bottom:120%;}	
	.m_wrap{width:100%;}
	.m06{width:100%; padding-bottom:36%;}
	.m07{width:100%; padding-bottom:36%;}
}