@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@charset "utf-8";

/* 초기화 */
html {
	overflow-y:scroll;
	height:100%;
	min-width:320px;
}


body {
	margin:0;
	padding:0;
	font-size:0.813em;
	height:100%;
	font-family:'Noto Sans KR', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
}

html, h1, h2, h3, h4, h5, h6, form, fieldset, img {
	margin:0;
	padding:0;
	border:0;
}

h1, h2, h3, h4, h5, h6 {
	font-size:1em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}

legend {
	position:absolute;
	font-size:0;
	line-height:0;
	text-indent:-9999em;
	overflow:hidden;
}

input, button {
	margin:0;
	padding:0;
	font-size:1em;
	font-family:'Noto Sans KR', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
}

button, input[type=submit] {
	cursor:pointer;
}

input[type=text], input[type=password], input[type=image], button {
	font-size:1em;
	-webkit-appearance:none;
}

textarea, select, button {
	font-size:1em;
	font-family:'Noto Sans KR', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
}

textarea {
	border-radius:0;
	-webkit-appearance:none;
}

select {
	margin:0;
	background:none;
}

p {
	margin:0;
	padding:0;
	word-break:break-all;
}

hr {
	display:none;
}

pre {
	overflow-x:scroll;
	font-size:1.1em;
}

a {
	color:#000;
	text-decoration:none;
}

ul, li, dl, dt, dd{
	padding:0;
	margin:0;
}

ul{
	list-style:none;
}

img{
	vertical-align:top;
	max-width:100%;
	height:auto;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bo_top_img{
	display: none !important;
}

/* 상단 레이아웃 */
#hd{
	background:#fff;
	width:100%;
	z-index:9990;
	position: fixed;
	top:0;
	/* border-bottom: 3px solid #ED6E01; */
}

#hd:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

#hd_h1 {
	position:absolute;
	font-size:0;
	text-indent:-9999em;
	line-height:0;
	overflow:hidden;
}

#hd_wrapper{
	margin:0 auto;
	max-width:1200px;
}

#hd_wrapper:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

#logo {
	float:left;
	padding:17px 10px;
}

#logo img{
	vertical-align:middle;
	max-height:100%;
	width:auto;
}

#gnb_empty {
	padding:20px 0;
	color:#fff;
	text-align:center;
	line-height:2em;
}

#gnb_empty a {
	display:inline;
	text-decoration:underline;
}

#gnb {
	display:block;
	float:left;
}

#gnb .gnb_1dul:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

.gnb_wr{
	max-width:1200px;
	padding-right:200px;
	margin:0 auto;
	position:relative;
}

#gnb a {
	display:block;
}

.gnb_1dli{
	position:relative;
	float:left;
	line-height:40px;
}

.gnb_1dli:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

.gnb_1dli button{
	display:none;
}

.gnb_1da {
	float:left;
	padding:0 20px;
	color:#fff;
	line-height:80px;
	font-size:1.077em;
	font-weight:500;
}

.gnb_2dul {
	display:none;
	position:absolute;
	top:80px;
	left:0;
	background:#202228;
	min-width:100%;
	z-index:99;
}

.gnb_1dli:hover .gnb_2dul {
	display:block;
}

.gnb_1dli:hover:before{
	background:#fa5064;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:3px;
	content:'';
}

.gnb_1dli:hover .gnb_1da{
	color:#fa5064;
}

.gnb_2da {
	color:#a8a6b0;
	padding:0 15px;
	font-weight:normal;
	white-space: nowrap;
	border-top:1px solid #121418;
}

.gnb_2da:hover{
	color:#fff;
}


/*네비게이션*/
#gnb ul{
	overflow:visible;
	float:right;
}

#gnb ul:after{
	content:"";
	clear:both;
	display:block;
}

#gnb .depth {
	display: block;
}

#gnb .depth li {
	display: block;
	position:relative;
}

#gnb .depth .depth_li{
	float:left;
	width:198px;
}

#gnb .depth .mm{
	display: block;
	height: 80px;
	line-height: 80px;
	font-size:17px;
	color:#222;
	letter-spacing: -1px;
	text-align: center;
}

#gnb .depth .subnav{
	display: none;
	position:absolute;
	z-index:9992;
	left:0;
	top:95px;
}

#gnb .depth .sm06{
	border-right: 1px solid #ddd;
}

#gnb .depth .subnav li{
	text-align: center;
	width:198px;
	line-height: 35px;
	position: relative;
}

#gnb .depth .subnav li a{
	color:#555;
	font-size: 14px;
	width:198px;
	line-height: 35px;
	font-weight:300;
}

#gnb .depth .subnav li:hover a{
	text-decoration:underline;
	color:#333;
}

.bgGnb{
	display:none;
	background: #fff;
	height: 150px;
	width:100%;
	position:absolute;
	top:80px;
	left:0;
	z-index:9991;
	border-top: 1px solid #ddd;
}

@media (max-width: 1214px){
	#gnb .depth .depth_li {
		width:136px;
	}
}

#tnb{
	background:#090a0c;
	line-height:40px;
}

#tnb ul {
	max-width:1200px;
	margin:0 auto;
}

#tnb ul:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

#tnb li{
	float:left;
}

#tnb .right{
	float:right;
}

#tnb li a{
	color:#b8b8b8;
	display:block;
	padding: 0 13px;
}

#tnb li a:hover{
	background:#1b1e24;
}

#tnb .tnb_res a{
	background:#ed6e01;
	color:#fff;
	padding:0 20px;
	font-weight:600;
}

#tnb .tnb_res a:hover{
	background:#ff2f48;
}

#tnb .tnb_res i{
	margin-right:5px;
}

#tnb .tnb_sns i{
	color:#ed6e01;
	margin-right:5px;
}

.left_util{
	float:right;
	width:63px;
	border:0;
	background:0;
	height:80px;
	line-height:80px;
	color:#ccc;
	font-size:18px;
	text-align: center;
	display: block;
}

.top_txt{
	font-size:12px;
	color:#999;
	padding:0 10px 0 5px;
}

#hd_sch{
	z-index:10;
	display:none;
	position:absolute;
	top:40px;
	left:0;
	background:#121418;
	width:100%;
}

#hd_sch .sch_wr{
	margin:0 auto;
	max-width:1200px;
	position:relative;
}

#hd_sch #sch_stx {
	background:none;
	border:0;
	width:100%;
	height:80px;
	padding:0 50px;
	color:#fff;
	font-size:1.385em;
}

#hd_sch #sch_stx:focus{
	outline:0;
	border-bottom:2px solid #ea185f;
}

#hd_sch #sch_submit{
	background:none;
	border:0;
	position:absolute;
	top:0;
	left:0;
	color:#fff;
	height:80px;
	width:50px;
	font-size:18px;
}

#hd_sch .btn_close{
	background:none;
	border:0;
	position:absolute;
	top:0;
	right:0;
	width:50px;
	height:80px;
	color:#aaa;
	font-size:18px;
}

#hd_sch .btn_close:hover{
	color:#fff;
}

#gnb_open{
	float: right;
	width: 50px;
	border: 0;
	background: 0;
	height: 80px;
	color: #333;
	font-size: 18px;
	vertical-align:top;
}

#gnb2 {
	display:none;
	position:fixed;
	top:0;
	right:0;
	height:100%;
	background:#202228;
	z-index:99999;
	width:30%;
	min-width:300px;
}

#gnb2 .btn_close {
	position:absolute;
	top:0;
	right:0;
	width:50px;
	height:40px;
	border:0;
	background:none;
	color:#555;
}

#gnb2 .gnb_tnb{
	padding:0 10px;
}

#gnb2 .gnb_tnb li{
	display:inline-block;
	line-height:40px;
}

#gnb2 .gnb_tnb li a{
	color:#b8b8b8;
	display:block;
	padding:0 10px;
}

/*#gnb2_1dul{margin:20px 0}*/
#gnb2_1dul .gnb2_1dli{
	position:relative;
}

#gnb2_1dul .gnb2_1dli button{
	position:absolute;
	top:0;
	right:0;
	border:0;
	background:none;
	height:40px;
	width:40px;
	text-indent:-999px;
	overflow:hidden;
	background: url('./img/gnb_bg2.png') no-repeat 50% 50%;
	background-size:10px;
}

#gnb2_1dul .gnb2_1da{
	padding:0 20px;
	display:block;
	color:#fff;
	font-size:1.15em;
	line-height:40px;
}

#gnb2_1dul .gnb2_2dul {
	display:block;
}

#gnb2_1dul .gnb2_2da {
	color:#a8a6b0;
	padding:0 30px;
	font-weight:normal;
	white-space: nowrap;
	line-height:24px;
}

@media (max-width: 969px){
	#logo img{
		height: 45px !important;
	}
    .pc_view{
	    display:none !important;
    }
	.left_util{
		display: none;
	}
    #logo {
	    padding:10px 10px;
    }
    .m_view{
	    display:none !important;
    }
    .hd_sch_btn, #gnb_open{
	    height:60px;
    }
    #hd_sch {
	    top:0;
    }
    #hd_sch #sch_submit, #hd_sch .btn_close, #hd_sch #sch_stx{
	    height:60px;
    }
}



/* 중간 레이아웃 */
#wrapper {

}

#wrapper:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

#container {
	position:relative;
	min-height:800px;
}

#container:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

#container_title {
	position:relative;
	font-weight:bold;
	background:#fff;
	color:#333;
	text-align:center;
	z-index:9;
	height: 200px;
	line-height: 200px;
	padding-top:50px;
	font-size: 32px;
}

#container>p{
	display:none;
}

.con_tit {
	text-align:center;
	font-size:24px;
	margin:30px 0;
}

/*메인서비스소개*/
.idx_service{
	margin: 0 auto;
	max-width: 1200px;
	padding: 40px 10px;
}

.idx_service:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

.idx_service a{
	display: block;
	float:left;
	width:25%;
	text-align: center;
	border-right:1px solid #eee;
}

.idx_svc_01{
	border-left:1px solid #eee;
}

.idx_svc_tit{
	font-size: 18px;
	font-weight:400;
	color:#333;
	padding:10px 0 20px;
}

.idx_svc_txt{
	font-size: 15px;
	color:#999;
}

@media (max-width:720px){
	 .idx_svc_tit{
		 font-size: 14px;
		 letter-spacing: -1px;
		 padding:10px 0px 0px;
	 }
	 .idx_service {
		 padding:20px 0 40px;
	 }
	 .idx_service img{
		 width:80px;
	 }
	 .idx_svc_txt{
		 display: none;
	 }
	 .idx_service a{
		 border:none;
	 }
	 .idx_svc_01{
		 border:none;
	 }
}


/*메인게시판추출영역*/
.idx_bbs{
	width:100%;
	border-bottom: 1px solid #ddd;
}

/*메인갤러리*/
.gallery_bg {
	width:100%;
	background:#f9f9f9;
	margin-top:60px;
}

.idx_gallery{
	max-width:1200px;
	margin: 0 auto;
	padding:50px 0;
}

@media (max-width:720px){
	.gallery_bg {
		margin-top:30px;
	}
	.idx_gallery {
		padding:20px 0;
	}
}

.idx_con{
	margin: 0 auto;
	max-width:1200px;
	text-align:center;
}

.idx_con ul:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

.idx_con li{
	float:left;
	width:33.333%;
	padding:7% 20px;
}

.idx_con li h2 i{
	font-size:25px;
	background:#a8a8a8;
	color:#fff;
	width:70px;
	line-height:70px;
	border-radius:50px;
	margin-bottom:5px;
}

.idx_con li:hover i{
	background:#ea185f;
}

.idx_con li h2 span{
	display:block;
	font-size:1.385em;
}

.idx_con li:hover span{
	color:#ea185f;
}

.idx_con li p{
	margin:20px 0;
	color:#494949;
	font-size:1.154em;
}

.idx_con li a{
	display:inline-block;
	color:#a9a9a9;
	text-decoration:underline;
}

.idx_lt{
	background:#f6f6f6;
	padding:80px 0;
}

.idx_lt_wr{
	margin:0 auto;
	max-width:1200px;
}

.idx_lt_wr:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

.idx_lt_wr .lt{
	float:left;
	width:33.333%;
}

@media (max-width: 969px){
    .idx_con{
	    padding:50px 0;
    }
    .idx_con li{
	    width:100%;
	    padding:20px;
    }
    .idx_con li h2 i{
	    width:50px;
	    line-height:50px;
	    font-size:20px;
    }
    .idx_lt_wr .lt{
	    width:100%;
    }
    .idx_lt{
	    padding:30px 0;
    }
 }


/*메인마지막*/
.idx_last{
	width:100%;
	background: #f6f6f6;
	padding:60px 0;
}

.idx_last_inner{
	max-width:1200px;
	margin: 0 auto;
}

.idx_last_inner div{
	float:left;
}

.idx_last_inner:after{
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

.idx_last_icon{
	margin-right: 20px;
}

.idx_last_num{
	float:left;
}

.idx_last_num:after{
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

.idx_last_num h2{
	font-size:18px;
}

.idx_last_link{
	float:right !important;
}

.idx_last_link:after{
	display: block;
	clear: both; content:'';
}

.idx_last_link ul{
	margin-top: 20px;
}

.idx_last_link ul li{
	float:left;
}

.c_orange{
	color:#ED6E01;
}

.phnum{
	font-size:30px;
	font-weight: bold;
	letter-spacing: -1px;
}

.mnun{
	font-size:18px;
	color:#666;
	margin-bottom: 20px;
	letter-spacing: -1px;
}

.idx_last_link_ctr{
	margin: 0 20px;
}

@media (max-width: 969px){
	.idx_last{
		padding:20px 0;
	}
	.idx_last_num{
		clear: both;
		width:100%;
		padding:30px;
	}
	.idx_last_link{
		clear: both;
		width:100%;
		padding:30px;
		border-top:1px solid #ddd;
	}
	.idx_last_link ul li{
		float:left;
		width:30%;
	}
	.idx_last_link_ctr{
		margin: 0 5px;
	}
	.idx_last_icon img{
		width:80px;
	}
}


/* 하단 레이아웃 */
#ft {
	background:#222;
}

.ft_wr{
	background:#444;
	color:#888;
	padding:20px 20px;
}

.ft_wr:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

#ft h1 {
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	overflow:hidden;
}

#ft p {
	margin:0;
	padding:10px 0;
	line-height:1.8em;
}

#ft_copy{
	max-width: 1200px;
	margin:0 auto;
}

.ft_copy_left{
	float:left;
}

.ft_copy_right{
	float:right;
}

.ft_info{
	margin:0 auto;
	max-width:1200px;
}

.ft_info:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

.ft_info .lt{
	float:left;
	width:49.9%;
}

#ft_contact{
	float:left;
	width:50%;
	padding:20px;
	color:#fff;
}

#ft_contact h2{
	font-size: 1.154em;
	margin-bottom:20px;
}

#ft_contact i{
	width:25px;
	color:#ed6e01;
	line-height:30px;
	background:#222;
	position:relative;
	z-index:2;
}

#ft_contact li:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

#ft_contact .time{
	position:relative;
}

#ft_contact .time:before{
	content:'';
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	height:1px;
	background-image: linear-gradient(90deg, #666 25%, #222222 25%, #222222 50%, #666 50%, #666 75%, #222222 75%, #222222 100%);
	background-size: 8.00px 8.00px;
	z-index:0;
}

#ft_contact .text{
	background:#222;
	padding-right:10px;
	z-index:2;
	display:inline-block;
	line-height:30px;
	position:relative;
}

#ft_contact .num{
	background:#222;
	float:right;
	padding-left:10px;
	z-index:2;
	display:inline-block;
	line-height:30px;
	position:relative;
}

#ft_contact  a{
	display:block;
	text-align:center;
	background: #ed6e01;
	color: #fff;
	margin-top:20px;
	line-height:45px;
	font-weight: 600;
}

.line {
	width: 1px;
	background: #eee;
	display: inline-block;
	height: 20px;
	float: left;
	margin: 22px 0;
}

#top_btn{
	position:fixed;
	bottom:20px;
	right:20px;
	width:50px;
	height:50px;
	background:#121418;
	border:0;
	z-index:999;
	color:#fff;
	transition: opacity 0.2s ease-out;
	opacity:0;
}

#top_btn.show {
	opacity: 1;
}

@media (max-width: 969px){
     .ft_info .lt,#ft_contact{
	     width:100%;
	     padding:5px 10px;
     }
     .ft_info {
	     padding:15px 0;
     }
	 .lt li a {
		 font-size:12px;
	 }
	 .line {
		 display:none;
	 }
}

/* 체크박스 */
.all_chk,.bo_chk {
	position:relative;
}

.all_chk label .chk_img, .bo_chk label .chk_img{
	margin-top:2px;
	display:inline-block;
	height:15px;
	text-indent:-9999px;
	width:15px;
	background:#fff;
	border:1px solid #aab3c1;
	border-radius:3px;
	vertical-align:top;
	-webkit-box-shadow:inset 5px 5px 3px #f0f0f3;
	-moz-box-shadow:inset 5px 5px 3px #f0f0f3;
	box-shadow:inset 5px 5px 3px #f0f0f3;
}

.bo_chk label.click_on .chk_img, .all_chk label.click_on .chk_img{
	background:url('./img/input_chk.png') 50% 50% no-repeat #ea185f;
	border-color:#ea185f;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.bo_chk input, .all_chk input {
	position:absolute;
	top:0;
	left:0;
	width:1px;
	height:1px;
	opacity:0;
	outline:0;
	z-index:9;
}

/* 게시물 선택복사 선택이동 */
#copymove {

}

.copymove_current {
	float:right;
	color:#ff3061;
}

.copymove_currentbg {
	background:#f4f4f4;
}

#copymove .tbl_head01{
	margin-top:10px;
}

#copymove td{
	background:#fff;
}

#copymove .win_btn{
	margin:10px;
}

/* 화면낭독기 사용자용 */
#hd_login_msg {
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:0;
	overflow:hidden;
}

.msg_sound_only, .sound_only {
	display:inline-block;
	position:absolute;
	top:0;
	left:0;
	margin:0 !important;
	padding:0 !important;
	width:1px !important;
	height:1px !important;
	font-size:0 !important;
	line-height:0 !important;
	overflow:hidden;
}

/* 본문 바로가기 */
.to_content a {
	z-index:100000;
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	overflow:hidden;
}

/* 이미지 등비율 리사이징 */
.img_fix {
	width:100%;
	height:auto;
}

/* 버튼 */
.btn{
	display:inline-block;
	padding:0 5px;
	height:40px;
	line-height:40px;
	padding: 0 15px;
}

a.btn01 {
	display:inline-block;
	background:#eee;
	color:#444;
	text-decoration:none;
	vertical-align:middle;
}

a.btn01:focus, a.btn01:hover {
	text-decoration:none;
}

button.btn01 {
	display:inline-block;
	margin:0;
	padding:7px;
	border:1px solid #ccc;
	background:#fafafa;
	color:#000;
	text-decoration:none;
}

a.btn02 {
	display:inline-block;
	border:1px solid #3b3c3f;
	background:#4b545e;
	color:#fff;
	text-decoration:none;
	vertical-align:middle;
}

a.btn02:focus, .btn02:hover {
	text-decoration:none;
}

button.btn02 {
	display:inline-block;
	margin:0;
	padding:7px;
	border:1px solid #3b3c3f;
	background:#4b545e;
	color:#fff;
	text-decoration:none;
}

.btn_confirm {
	text-align:center;
}

.btn_submit {
	border:0;
	background:#edaf01;
	color:#fff;
	cursor:pointer;
}

.btn_submit:hover{
	background:#dca200;
}

a.btn_cancel {
	display:inline-block;
	background:#ddd;
	color:#444;
	text-decoration:none;
	vertical-align:middle;
}

button.btn_cancel {
	display:inline-block;
	border:1px solid #ccc;
	background:#fafafa;
	color:#000;
	vertical-align:top;
	text-decoration:none;
}

a.btn_frmline, button.btn_frmline {
	display:inline-block;
	padding:0 5px;
	border:0;
	background:#333;
	color:#fff;
	letter-spacing:-0.1em;
	text-decoration:none;
	vertical-align:top;
}

button.btn_frmline {
	font-size:1em;
}

/* 게시판용 버튼 */
a.btn_b01,.btn_b01 {
	display:inline-block;
	background:#eee;
	border:0;
	color:#6b6b6b;
	text-decoration:none;
	vertical-align:middle;
}

.btn_b01:hover, .btn_b01:hover {
	background:#f8f8f8;
	color:#000;
}

a.btn_b02, .btn_b02{
	display:inline-block;
	background:#edaf01;
	color:#fff;
	text-decoration:none;
	vertical-align:middle;
	border:0;
}

a.btn_b02:hover, .btn_b02:hover {
	background:#dca200;
}

a.btn_b03, .btn_b03 {
	display:inline-block;
	line-height:28px;
	border:1px solid #ed6478;
	color:#ed6478;
	background:none;
	text-decoration:none;
	vertical-align:middle;
}

a.btn_b03:hover, .btn_b03:hover {

}

a.btn_admin {
	display:inline-block;
	background:#ff0000;
	color:#fff;
	font-size:16px;
	text-decoration:none;
	vertical-align:middle;
	line-height:40px;
	width:40px;
	text-align:center;
} /* 관리자 전용 버튼 */

a.btn_admin:focus, a.btn_admin:hover  {
	color:#fff;
}

/* 기본테이블 */
.tbl_wrap {
	margin:0 10px 10px;
}

.tbl_wrap table {
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
}

.tbl_wrap caption {
	padding:10px 0;
	color:#4b8b99;
	font-weight:bold;
	text-align:left;
}

.tbl_head01 {

}

.tbl_head01 caption {
	padding:0 0 10px;
	color:#777;
	text-align:left;
}

.tbl_head01 thead th {
	padding:12px 0;
	border:1px solid #cacaca;
	background:#d9d9da;
	color:#383838;
	font-size:0.95em;
	text-align:center;
	letter-spacing:-0.1em;
}

.tbl_head01 thead a {
	color:#383838;
}

.tbl_head01 thead th input {
	vertical-align:top;
} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */

.tbl_head01 tfoot th {
	border-top:1px solid #666;
	border-bottom:1px solid #666;
	background:#484848;
	color:#fff;
}

.tbl_head01 tfoot td {
	border-color:#e3e3e5;
	background:#484848;
	color:#fff;
	font-weight:bold;
	text-align:center;
}

.tbl_head01 tbody th {
	padding:5px 0;
	border-top:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
}

.tbl_head01 td {
	padding:5px;
	border:1px solid #e3e3e5;
	line-height:1.5em;
	word-break:break-all;
}

.tbl_head02 {

}

.tbl_head02 caption {
	padding:0 0 10px;
	color:#777;
	text-align:left;
}

.tbl_head02 thead th {
	padding:5px 0;
	border-top:1px solid #d1dee2;
	border-bottom:1px solid #d1dee2;
	background:#e5ecef;
	color:#383838;
	font-size:0.95em;
	text-align:center;
	letter-spacing:-0.1em;
}

.tbl_head02 thead a {
	color:#383838;
}

.tbl_head02 thead th input {
	vertical-align:top;
} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */

.tbl_head02 tfoot th {
	border-top:1px solid #666;
	border-bottom:1px solid #666;
	background:#484848;
	color:#fff;
}

.tbl_head02 tfoot td {
	background:#484848;
	color:#fff;
	font-weight:bold;
	text-align:center;
}

.tbl_head02 tbody th {
	padding:5px 0;
	border-top:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
}

.tbl_head02 td {
	padding:5px 3px;
	border-top:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
	line-height:1.4em;
	word-break:break-all;
}

/* 기본리스트 */
.list_01{
	padding:0 10px;
}

.list_01 li{
	background:#fff;
	border-radius:3px;
	padding:10px 0px;
	border-bottom:1px solid #eee;
}

/* 기본폼 */
.form_01{
	margin:10px;
}

.form_01 .write_div{
	margin:5px 0;
	position:relative;
}

.form_01 li{
	margin:5px 0;
	position:relative;
	list-style:none;
}

textarea, .frm_input {
	border:1px solid #d7d7d7;
	background:#fff;
	color:#000;
	vertical-align:middle;
	padding:0 10px;
	height:40px;
}

textarea {
	width:100%;
	height:200px;
	padding:10px;
}

textarea:focus, .frm_input:focus{
	outline:none;
	border:1px solid #ea185f;
}

.frm_input {
	height:40px;
}

.full_input{
	width:100%;
}

.form_01 .frm_file {
	display:block;
	margin-bottom:5px;
	width:100%;
}

.form_01 select{
	height:40px;
	border-radius:3px;
	background-color:#fff;
}

.form_01 .frm_info{
	font-size:0.92em;
	color:#4162ff;
	text-align:left;
	margin:3px 0 10px;
	display:block;
	line-height:1.3em;
}

/* 자료 없는 목록 */
.empty_table {
	padding:100px 0 !important;
	color:#777;
	text-align:center;
}

.empty_list {
	padding:20px 0 !important;
	text-align:center;
}

/* 필수입력 */
.required, textarea.required {
	background-image:url('./img/require.png') !important;
	background-repeat:no-repeat !important;
	background-position:right top !important;
}

/* 테이블 항목별 정의 */
.td_board {
	width:120px;
	text-align:center;
}

.td_category {
	width:80px;
	text-align:center;
}

.td_chk {
	width:30px;
	text-align:center;
}

.td_date {
	width:60px;
	text-align:center;
}

.td_datetime {
	width:150px;
	text-align:center;
}

.td_group {
	width:100px;
	text-align:center;
}

.td_mb_id {
	width:100px;
	text-align:center;
}

.td_mng {
	width:80px;
	text-align:center;
}

.td_name {
	width:100px;
	text-align:left;
}

.td_nick {
	width:100px;
	text-align:center;
}

.td_num {
	width:50px;
	text-align:center;
}

.td_numbig {
	width:80px;
	text-align:center;
}

.td_stat {
	width:60px;
	text-align:center;
}

.txt_active {
	color:#5d910b;
}

.txt_done {
	color:#e8180c;
}

.txt_expired {
	color:#999;
}

.txt_rdy {
	color:#8abc2a;
}

/* 새창 기본 스타일 */
.new_win {

}

.new_win #win_title {
	font-size: 1.2em;
	font-weight: bold;
	height: 50px;
	padding: 10px;
	line-height: 30px;
	-webkit-box-shadow:  2px 2px 5px #eee;
	-moz-box-shadow:  2px 2px 5px #eee;
	box-shadow: 2px 2px 5px #eee
}

.new_win #win_title .sv {
	font-size:0.75em;
	line-height:1.2em;
}

.new_win_con{
	margin:20px;
}

.new_win .win_ul {
	margin:20px;
}

.new_win .win_ul li {
	display:inline-block;
}

.new_win .win_ul li a {
	display: block;
	line-height: 24px;
	padding: 0 10px;
}

.new_win .win_ul li .selected {
	background: #4162ff;
	color: #fff;
	border-radius: 13px;
	-webkit-box-shadow: 0 0 5px rgba(65,98,255,0.8);
	-moz-box-shadow: 0 0 5px rgba(65,98,255,0.8);
	box-shadow: 0 0 8px rgba(65,98,255,0.8);
}

.new_win .win_desc {
	margin:5px 0;
	font-size:0.92em;
	color:#4162ff;
}

.new_win .win_btn {
	clear:both;
	margin:10px 0;
	text-align:center;
}

.new_win .win_btn a {
	display:inline-block;
	height:40px;
	line-height:40px;
	font-weight:bold;
}

.new_win .win_btn .btn_close {
	display:inline-block;
	padding:0 10px;
	border:0;
	background:#c6c6d2;
	color:#666;
	text-decoration:none;
	font-weight:bold;
	height:40px;
	margin:10px 0;
}

.new_win .win_btn .btn_submit {
	width:100%;
	height:40px;
	line-height:40px;
	margin:0 0 20px;
	display:inline-block;
	font-weight:bold;
}

/* 검색결과 색상 */
.sch_word {
	color:#00c4ac;
}

/* 사이드뷰 */
.sv_wrap {
	display:inline-block;
	position:relative;
	font-weight:normal;
	line-height:20px;
}

.sv_wrap .sv {
	z-index:1000;
	width:100px;
	display:none;
	margin:5px 0 0;
	font-size:0.92em;
	background:#333;
	text-align:left;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
}

.sv_wrap .sv:before{
	content: "";
	position: absolute;
	top: -6px;
	left: 15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 6px 6px 6px;
	border-color: transparent transparent #333 transparent;
}

.sv_wrap .sv a {
	display:inline-block;
	width:100px;
	margin:0;
	padding:0  10px;
	line-height:30px;
	font-weight:normal;
	color:#bbb;
}

.sv_wrap .sv a:hover{
	background:#000;
	color:#fff;
}

.sv_member{
	color:#333;
	font-weight:300;
	margin-right:10px;
}

.sv_on {
	display:block !important;
	position:absolute;
	top:23px;
	left:0px;
	width:auto;
	height:auto;
}

.sv_nojs .sv {
	display:block;
}

/* 페이징 */
.pg_wrap {
	clear:both;
	margin:30px 0;
	text-align:center;
}

.pg {
	display:inline-block;
}

.pg_page, .pg_current {
	display:inline-block;
	padding:0 13px;
	height:35px;
	color:#959595;
	line-height:35px;
	vertical-align:middle;
}

.pg a:focus, .pg a:hover {
	text-decoration:none;
	background-color:#f8f8f8;
}

.pg_page {
	background:#eee;
}

.pg_start {
	background:url(./img/btn_first.gif) no-repeat 50% 50% #eee;
	width:35px;
	height:35px;
	text-indent:-999px;
	overflow:hidden;
}

.pg_prev {
	background:url(./img/btn_prev.gif) no-repeat 50% 50% #eee;
	width:35px;
	height:35px;
	text-indent:-999px;
	overflow:hidden;
}

.pg_next {
	background:url(./img/btn_next.gif) no-repeat 50% 50% #eee;
	width:35px;
	height:35px;
	text-indent:-999px;
	overflow:hidden;
}

.pg_end {
	background:url(./img/btn_end.gif) no-repeat 50% 50% #eee;
	width:35px;
	height:35px;
	text-indent:-999px;
	overflow:hidden;
}

.pg_current {
	display:inline-block;
	background:#494949;
	color:#fff;
	font-weight:normal;
	line-height:35px;
}

/*sub*/
.blank_40{
	height: 40px;
}

#sub_warp{
	max-width: 960px;
	margin:0 auto;
	padding:80px 0 90px;
}

#sub_warp img{
	width:100%;
	height: auto;
}

.sub_tit{
	font-weight: bold;
	font-size:32px;
	padding:30px 0 50px;
	color:#333;
	text-align: center;
}

.sub_tit span{
	border-bottom:4px solid #eee;
}

.sub_tit_en{
	font-size:12px;
	color:#999;
	letter-spacing: 3px;
}

.sub_lnb{
	width:100%;
	text-align: center;
	margin-bottom: 30px;
}

.sub_lnb:after{
	display: block;
	clear: both;
	content: '';
}

.sub_lnb ul{
	width:100%:
}

.sub_lnb ul li{
	float:left;
	display: block;
	height: 50px;
}

.sub_lnb .sub_lnb_50 li{
	width:50%;
}

.sub_lnb .sub_lnb_33 li{
	width:33.33%;
}

.sub_lnb .sub_lnb_25 li{
	width:25%;
}

.sub_lnb ul li a{
	background: #ede9e6;
	height: 50px;
	line-height: 50px;
	color:#999;
	width:100%;
	display: block;
	font-size: 14px;
	letter-spacing: -1px;
}

.sub_lnb ul li .active{
	border-width:1px 1px 0 1px;
	border-color:#ddd;
	border-style: solid;
	background: #fff;
	color:#333;
	font-weight: bold;
}

.sub_lnb .sub_lnb_33 li a {
	border-right:1px solid #ddd;
}

.sub_lnb .sub_lnb_33 li:last-child a {
	border-right:0 none;
}

.sub_lnb .sub_lnb_33 .active {
	border-left:0 none;
}

#sub_warp .sub_lnb .sub_lnb_33 .tab_0201 {
	border-left:1px solid #ddd;
}

#sub_warp .sub_lnb .sub_lnb_33 .tab_0203 {
	border-right:1px solid #ddd;
}

/*일반텍스트*/
.sub_tit02{
	font-size: 20px;
	padding-left: 30px;
	background: url('http://hyoju.korwn.biz/img/h2_blt.gif') no-repeat 0px center;
	height: 30px;
	line-height: 30px;
	margin:24px 0 18px;
}

.cmmn_box{
	width:100%;
	background: #f9f9f9;
	box-sizing: border-box;
	padding:30px;
	margin:20px 0;
}

.cmmn_box .about_sign{
	color:#000;
	font-size: 14px !important;
	letter-spacing: 2px;
	line-height: 1.6em;
}

.cmmn_box .cmmn_txt{
	font-size:16px;
	color:#333;
	line-height: 1.6em;
	letter-spacing: -1px;
}

.cmmn_table{
	border-spacing: 0px;
	width:100%;
	border-left:1px solid #ddd;
	border-top: 1px solid #ddd;
	line-height: 1.6em;
	letter-spacing: -1px;
}

.cmmn_table th{
	background: #f3f3f3;
	padding:12px;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	width:100px;
}

.cmmn_table td{
	background: #fff;
	padding:12px;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

.tdliketh{
	background: #f3f3f3 !important;
	padding:12px;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	width:150px;
}

.cmmn_table .silver_th{
	font-size: 20px;
}

.cost_table{
	border-spacing: 0px;
	width:100%;
	border-left:1px solid #dfd9cd;
	border-top: 1px solid #dfd9cd;
	line-height: 1.6em;
	letter-spacing: -1px;
	font-size: 14px;
	margin-bottom: 10px;
}

.cost_table th{
	background: #f1eee8;
	padding:10px;
	border-right:1px solid #dfd9cd;
	border-bottom:1px solid #dfd9cd;
	color:#543e21;
}

.cost_table td{
	background: #fff;
	padding:10px;
	border-right:1px solid #dfd9cd;
	border-bottom:1px solid #dfd9cd;
	color:#666;
	text-align: center;
}

.txt_lft{
	text-align: left !important;
}

@media (max-width: 960px){

	#sub_warp{
		width: 100%;
		padding:80px 20px 60px 20px;
		box-sizing: border-box;
	}

}

.snbtip_btn{
	position: absolute;
	z-index:9996;
	display: block;
	width:20px !important;
	height: 20px !important;
	right:0;
	top:12px;
	background: url('http://bomnal.korwn.net/img/snbttip.gif') no-repeat center center;
}

.snbtip_btn:hover{
	background: url('http://bomnal.korwn.net/img/snbttip.gif') no-repeat center center;
}

.snbtip_hide{
	display: none;
	position: absolute;
	top:25px;
	z-index: 9997;
	background: url('http://bomnal.korwn.net/img/snbtip.png') no-repeat center center;
	width:140px;
	height: 86px;
	color:#fff;
	padding:30px 8px 0;
	box-sizing: border;
	line-height: 1.5em !important;
}

.snbtip_show{
	display:block !important;
	position: absolute;
	top:30px;
	z-index: 9997;
	background: url('http://bomnal.korwn.net/img/snbtip.png') no-repeat center center;
	width:140px;
	height: 86px;
	color:#fff;
	padding:30px 8px 0;
	box-sizing: border;
	line-height: 1.5em !important;
}

/* 서브페이지 */
.con_bg {
	background-image:url(http://hyoju.korwn.biz/img/about.jpg);
	width:100%;
	height:409px;
	padding:300px 0 0 2%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.con_txt {
	color:#fff;
	font-size:2.3em;
}

@media (max-width: 652px){
	.con_bg {
		padding:310px 0 0 2%;
		font-size:0.7em;
	}
}