@charset "utf-8";
/* ### 기본 스타일 커스터마이징 시작 ### */
.mbskin{
    padding:10px;
}

.mbskin h1{
    font-size:1.75em;
    margin:40px 0 25px;
}

.mbskin p{
    padding: 20px;
    border: 1px solid #d8efe6;
    background: #f4f8f3;
    color: #7fb082;
}

.mbskin p strong{
    padding-bottom:5px;
    display:block;
    font-size:1.083em;
}

/* 버튼 */
.mbskin a.btn01 {
}

.mbskin a.btn01:focus, .mbskin a.btn01:hover {
}

.mbskin a.btn02 {
}

.mbskin a.btn02:focus, .mbskin .btn02:hover {
}

.mbskin .btn_confirm {
}

.mbskin .btn_submit {
    height:50px;
    font-weight:600;
}

.mbskin .btn_cancel {
    line-height:50px;
}

.mbskin .btn_frmline {
}

.mbskin .win_btn {
}

.mbskin .win_btn a {
}

.mbskin .win_btn button {
}

.mbskin .win_btn input {
}

/* 게시판용 버튼 */
.mbskin a.btn_b01 {
}

.mbskin a.btn_b01:focus, .mbskin .btn_b01:hover {
}

.mbskin a.btn_b02 {
}

.mbskin a.btn_b02:focus, .mbskin .btn_b02:hover {
}

.mbskin a.btn_admin {
}

.mbskin a.btn_admin:focus, .mbskin a.btn_admin:hover {
}

/* 기본테이블 */
.mbskin .tbl_head01 {
}

.mbskin .tbl_head01 caption {
}

.mbskin .tbl_head01 thead th {
}

.mbskin .tbl_head01 thead a {
}

.mbskin .tbl_head01 thead th input {
}

.mbskin .tbl_head01 tfoot th {
}

.mbskin .tbl_head01 tfoot td {
}

.mbskin .tbl_head01 tbody th {
}

.mbskin .tbl_head01 td {
}

.mbskin .tbl_head01 a {
}

.mbskin td.empty_table {
}

/* 폼 테이블 */
.mb_skin table {
}

.mb_skin caption {
}

.mb_skin .frm_info {
}

.mb_skin .frm_file {
}

.mbskin .tbl_frm01 {
}

.mbskin .tbl_frm01 caption {
}

.mbskin .tbl_frm01 th {
}

.mbskin .tbl_frm01 td {
}

.mbskin .tbl_frm01 textarea, .mbskin .frm_input {
}

.mbskin .tbl_frm01 textarea {
}

.mbskin .tbl_frm01 a {
}

.mbskin .required, .mbskin textarea.required {
}

/* 테이블 항목별 정의 */
.mbskin .td_board {
}

.mbskin .td_chk {
}

.mbskin .td_date {
}

.mbskin .td_datetime {
}

.mbskin .td_group {
}

.mbskin .td_mb_id {
}

.mbskin .td_mng {
}

.mbskin .td_name {
}

.mbskin .td_nick {
}

.mbskin .td_num {
}

.mbskin .td_numbig {
}

/* 회원가입 약관 */
#fregister{
    margin:0 auto;
    max-width:600px;
    padding:10px;
}

#fregister section {
    background:#fff;
    margin:10px 0;
}

#fregister .chk_all{
    position:relative;
    padding:15px;
    border: 1px solid #f6e3e9;
    color:#cd537c;
    background: #fff9fb;
}

#fregister h2 {
    text-align:left;
    padding:20px 0px;
    line-height:1.7em;
    font-size:1.167em;
}

#fregister textarea {
    display:block;
    padding:10px;
    width:100%;
    border:0;
    background:#fafafa;
    height:180px;
    line-height:1.5em;
    color:#555;
    border:1px solid #ddd;
}

.fregister_agree {
    padding:10px 0;
    line-height:1.7em;
}

.fregister_agree label {
    display:inline-block;
    margin-right:5px;
}

#fregister p {
    border:0;
    padding:0 0 5px;
}
#fregister .btn_confirm {
    margin:15px 0;
}

#fregister_private .tbl_head01 {
    margin:0;
}

#fregister_private .tbl_head01 caption{
    position:absolute;
    font-size:0;
    line-height:0;
    overflow:hidden;
    top:0;
    color:#fff;
}

.mbskin #sns_register {
    margin:0 auto;
    max-width:600px;
    padding:10px;border:0;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow:none;
}

.mbskin #sns_register h2 {
    padding:0 0 20px;
}

.mbskin #sns_register .sns-wrap {
    width:100%;
    border:1px solid #ddd;
    border-top:0;
}

.btn_wr {
    text-align:center;
    margin:20px 0;
}

#fregister .btn_submit{
    width:100%;
}
/* 회원가입 입력 */

#fregisterform {
    margin:0 auto;
    max-width:600px;
    padding:10px;
}

#fregisterform .form_01 {
    border:1px solid #ececec;
    text-align:center;
    margin-bottom:10px;
}

#fregisterform .form_01 ul {
    width:400px;
    padding:20px;
    display:inline-block;
    margin:0 auto;
    clear:both;
}

#fregisterform .form_01 ul li{
    clear:both;
    text-align:left;
}

#fregisterform textarea {
    width:100%;
    height:90px;
}

#fregisterform #msg_certify {
    margin:5px 0 0;
    padding:5px;
    border:1px solid #dbecff;
    background:#eaf4ff;
    text-align:center;
}

#fregisterform #mb_addr3 {
    display:block;
    margin:5px 0 0;
}

#fregisterform #mb_addr_jibeon {
    display:block;
    margin:5px 0 0;
}

#fregisterform:after {
    display:block;
    visibility:hidden;
    clear:both;
    content:"";
}

#fregisterform .form_01 h2 {
    padding:15px;
    background:#ececec;
    color:#000;
    font-size:1.167em;
    text-align:left;
}

#fregisterform .form_01 label {
    padding:10px 0;
    display:block;
    text-align:left;
}

#fregisterform .form_01 input {
    width:100%;
    margin-bottom:5px;
    background:#fff;
}

#fregisterform .form_01 #reg_mb_zip {
    width:54%;
}

#fregisterform .form_01:after {
    display:block;
    visibility:hidden;
    clear:both;
    content:"";
}

#fregisterform .frm_info {
    display:block;
    padding:5px 0;
    margin-top:0;
    text-align:left;
    color:#b1b1b1;
    font-size:0.92em;
}

#fregisterform .btn_frmline2 {
    display:inline-block;
    margin-left:5px;
    padding:0 5px;
    height:40px;
    border:0;
    background:#1ec679;
    border:1px solid #12b46a;
    color:#fff;
    text-decoration:none;
    vertical-align:top;
    border-radius:3px;
}

#fregisterform .btn_frmline {
    height:40px;
    padding:0 10px;
}

#fregisterform .rgs_name_li button {
    margin:5px 0 0;
}

.btn_confirm {
    text-align:right;
    margin:20px 0;
}

.personal_date .frm_label {
    position:absolute;
    font-size:0;
    text-indent:-9999em;
    line-height:0;
    overflow:hidden;
}
.personal_setting li.mem_pic {
    clear:both;
    margin-top:10px;
}

.personal_setting li.mem_pic > input {
    padding:5px;
    border:1px solid #d9dee9;
}

.personal_setting li.mem_pic .frm_label {
    width:60px;
}

.personal_setting li.mem_pic .mem_pic_preview {
    margin-left:25%;
    text-align:left;
}

.personal_setting li.mem_pic .mem_pic_preview input {
    display:inline-block;
    margin-top:5px;
    width:15px !important;
    margin-bottom:0;
}

.personal_setting li.mem_pic .mem_pic_preview label {
    text-align:center !important;
    width:40px !important;
    padding:3px 0 !important;
}

/* 회원가입 체크박스 */
#fregisterform .frm_bar {
    clear:both;
    line-height:20px;
    text-align:left;
    padding:10px;
    margin-bottom:0 !important;
    border:1px solid #d9dee9;
    background:#fff;
    color:#000;
    vertical-align:middle;
}

#fregisterform .frm_bar:after {
    display:block;
    visibility:hidden;
    clear:both;
    content:"";
}

#fregisterform .frm_bar label {
    position:relative;
    display:inline-block;
    width:100%;
    padding:0;
}

#fregisterform .form_01 .reg-form {
    width:auto !important;
}

#fregisterform .form_01 .reg-form .sns-wrap {
    text-align:center !important;
}

.is_captcha_use {
    margin-top:10px;
    border:1px solid #d9dee9;
    padding:10px;
}

.is_captcha_use .frm_label {
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    margin:0 !important;
    padding:0 !important;
    width:1px !important;
    height:1px !important;
    font-size:0 !important;
    line-height:0 !important;
    overflow:hidden;
}

.is_captcha_use .captcha {
    margin-top:0 !important;
}

@media (max-width: 969px){
    #fregisterform .frm_info {
        margin-left:0;
        clear:both;
    }
    #fregisterform .form_01 ul {
        width:100%;
        padding:0 20px 20px;
    }
}

/* 회원가입 완료 */
#reg_result {
    padding: 30px 10px;
    margin:0 auto;
    max-width:1200px;
}

#reg_result #result_email {
    margin:20px 0;
    padding:10px 50px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    background:#fff;
    line-height:2em;
}

#reg_result #result_email span {
    display:inline-block;
    width:150px;
}

#reg_result #result_email strong {
    color:#e8180c;
    font-size:1.2em;
}

#reg_result h2{
    font-size:1.25em;
    margin:0 0 10px;
}

#reg_result h2 strong{
    color:#ed6478;
}

#reg_result p {
    line-height:1.7em;
}

#reg_result a{
    text-decoration:underline;
    color: #a9a9a9;
}

#reg_result .btn_confirm {
    margin:20px 0 30px;
}

#reg_result .reg_result_wr{
    background:#fff;
    padding:10px 0;
}

#reg_result .reg_cong{
    margin:10px 0;
    font-size:1.083em;
    font-weight:bold;
}

#reg_reslt .reg_cong strong{
    color:#3497d9;
}

#reg_result .btn_confirm a{
    display:inline-block;
    padding:0 20px;
    height:40px;
    line-height:38px;
    border:1px solid #ed6478;
    color:#ed6478;
    font-weight:bold;
}

/* 아이디/비밀번호 찾기 */
#find_info #info_fs p {
    padding:15px;
    border: 1px solid #d8efe6;
    background: #f4f8f3;
    color: #7fb082;
    margin:10px 0;
}

#find_info #info_fs #mb_email {
    width:100%;
}

#find_info #captcha{
    margin:5px 0;
}

/* 로그인 */
#mb_login {
    margin:80px auto 10px;
    max-width:500px;
    padding:60px 40px 10px;
    border:1px solid #f2f4f5;
}

#mb_login h1 {
    font-size:2em;
    margin:0 0 20px;
    text-align:center;
}

#mb_login h2 {
    margin:0;
}

#mb_login p {
    padding:10px 0;
    line-height:1.5em;
}

#mb_login #login_frm {
    position:relative;
}

#mb_login .frm_input {
    width:100%;
    margin:5px 0;
    height:50px;
    background:#fbfbfb;
}

#mb_login .btn_submit {
    width:100%;
    height:50px;
    margin:5px 0;
    font-size:1.083em;
    font-weight:bold;
}

#mb_login .mb_login_join{
    text-align:left;
    border-top:1px solid #f2f2f5;
    text-align:center;
    margin-top: 30px;
    padding:30px 0 0;
}

#mb_login .mb_login_join:after {
    display:block;
    visibility:hidden;
    clear:both;
    content:"";
}

#mb_login .mb_login_join h2{
    position:absolute;
    font-size:0;
    line-height:0;
    overflow:hidden;
}

#mb_login .mb_login_join a{
    display:block;
    float:left;
    width:50%;
    font-weight:300;
}

#mb_login .mb_login_join .login_join{
}

#login_password_lost{
    border-left:1px solid #eee;
}

#mb_login .li_chk  {
    margin:10px 0;
    text-align:left;
    font-weight:300;
}

#flogin{
    background:#fff;
    padding:20px;
    margin:20px 0;
}

#mb_login_notmb{
    background:#fff;
    border-bottom:1px solid #ccc;
    padding:20px;
}

#mb_login_notmb h2{
    font-size:1.25em;
    padding:10px;
    background:#f3f3f3;
}

#mb_login_notmb p{
    border:0;
    padding:0;
    margin:10px;
}

#guest_privacy p{
    border:1px solid #ddd;
    background:#fff;
    color:#666;
    min-height:20px;
    height:200px;
    padding:10px;
    text-align:left;
    overflow-y:auto;
    margin:10px 0;
}

#mb_login_notmb .btn_submit{
    width:100%;
    display:block;
    height:40px;
    line-height:40px;
}

#mb_login_od_wr{
    background:#fff;
    border-bottom:1px solid #ccc;
    padding:20px;
}

#mb_login_od_wr p{
    border:0;
    text-align:left;
}

#mb_login_od_wr p strong{
    display:inline;
}

#mb_login_odinfo{
    margin:10px 0 0;
    background:#f3f3f3;
    padding:10px;
}

#mb_login_odinfo h2{
    font-size:1.167em;
}

@media (max-width: 969px){
    #mb_login {
        margin:0;
        border:0;
    }
}

/* 회원 비밀번호 확인 */
#mb_confirm {
    margin:30px auto;
    max-width:400px;
    padding:10px;
}

#mb_confirm h1 {
    margin:0 0 15px;
    padding:0;
    font-size:1.3em;
}

#mb_confirm p {
    padding: 20px;
    border: 1px solid #d8efe6;
    background: #f4f8f3;
    color: #7fb082;
}

#mb_confirm p strong {
    display:block;
}

#mb_confirm fieldset {
    position:relative;
    margin:20px 0;
    text-align:left;
    color:#555;
}

#mb_confirm_id{
    font-weight:bold;
    display:block;
    font-size:1.083em;
    margin:5px 0;
}

#mb_confirm_pw {
    display:block;
    margin-top:10px;
    width:100%;
}

#mb_confirm .btn_submit {
    width:100%;
    margin:10px 0;
}

/* 비밀글 비밀번호 확인 */
#pw_confirm {
    margin:30px auto;
    max-width:400px;
    padding:10px;
}

#pw_confirm fieldset {
    position:relative;
    margin:0 0 5px;
    padding:15px 0;
    border-top:1px solid #fffefe;
}

#pw_wr_password {
    width:100%;
}

#pw_confirm .btn_submit {
    margin:10px 0;
    width:100%;
}

/* 폼메일 */
#formmail #subject {
    width:100%;
}

#formmail textarea {
    width:100%;
    height:100px;
}

#formmail .frm_file{
    padding-left:50px;
}

#formmail .file_wr{
    border:1px solid #ccc;
    background:#fff;
    color:#000;
    vertical-align:middle;
    border-radius:3px;
    padding:5px;
    height:40px;
}

#formmail .lb_icon{
    position:absolute;
    top:0px;
    left:0px;
    border-radius:3px 0 0 3px;
    height:38px;
    line-height:38px;
    width:40px;
    overflow:hidden;
    text-indent:-999px;
    background:url(./img/icon_file.gif) no-repeat 50% 50% #eee;
}

/* 자기소개 */
#profile section {
    margin:10px;
}

#profile h2 {
    margin:0;
}

#profile .sv_wrap a {
    color:#fdff2f;
}

#profile table{
    width:100%;
    border-collapse:collapse;
}

#profile table th{
    background:#fff;
    padding:10px;
    width:90px;
    text-align:left;
    border-bottom:1px solid #eee;
}

#profile table td{
    background:#fff;
    padding:10px;
    border-bottom:1px solid #eee;
}

#profile p{
    background:#fff;
    padding:10px;
    margin:10px 0;
    -webkit-box-shadow: 0 0 5px rgba(50,50,50,0.2);
    -moz-box-shadow: 0 0 5px rgba(50,50,50,0.2);
    box-shadow: 0 1px 5px rgba(50,50,50,0.2);
}